{% extends "layout.html" %}
{% block title %}
Game
{% endblock %}

{% block script %}

<script>
    let words = JSON.parse('{{ words | tojson | safe}}');
</script>
<script src="/static/index.js"></script>
{% endblock%}
{% block main %}


<p id="word"></p>

<button class="btn btn-primary" name="article" value="der" id="der">der</button>
<button class="btn btn-primary" name="article" value="die" id="die">die</button>
<button class="btn btn-primary" name="article" value="das" id="das">das</button>
<p class="mt-4" id="score"> 0 </p>
<!-- <form>
    <button class="btn btn-primary" name="article" type="submit" value="der" id="der">der</button>
    <button class="btn btn-primary" name="article" type="submit" value="die" id="die">die</button>
    <button class="btn btn-primary" name="article" type="submit" value="das" id="das">das</button>
</form> -->

{% endblock %}