<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/dist/output.css" rel="stylesheet">

    {% block script %} {% endblock %}
</head>
<body class="bg-stone-800">
    
        <nav class="relative  bg-card_bg mx-auto p-4 text-sm font-medium text-stone-900">
            <div class="flex items-center justify-between">
                <!-- Logo -->
                <div class="">
                    <a href="/" class="">Home</a>
                </div>
                <!-- Menu items -->
                <div class="hidden md:flex space-x-6">
                    {% if session.user_id %}
                    <a href="/" class="hover:underline">Game</a>
                    <a href="/progress" class="hover:underline">Progress</a>
                    <a href="/logout" class="hover:underline">Sign out</a>
                    {% else %}
                    <a href="/register" class="hover:underline">Register</a>
                    <a href="/login" class="hover:underline">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </nav>
     
    <main >
        {% block main %}{% endblock %}
    </main>
    <footer class="">
        Designed by <a href="http://aburakaktas.com">Burak</a>
    </footer>


</body>
</html>