{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}

{% block main %}

<div class="">
    <form class="" action="/login" method="post">
        <div class="">
            <input autocomplete="off" autofocus class="" name="username" placeholder="Username" type="text">
        </div>
        <div class="">
            <input class="" name="password" placeholder="Password" type="password">
        </div>
        <button class="" type="submit">Log In</button>
    </form>
</div>

{% endblock %}